<h1><%= pluralize(@users.size, 'User') %></h1>

<ul>
  <% @users.each do |user| %>
  <h1><%= user.username %></h1>
  <li><%= user.password %></li>
  <li><%= user.name %></li>
  <li><%= user.age %></li>
  <li><%= truncate(user.bio, length: 30, separator: ' ') %> </li>
  <li><%= user.email %></li>
  <li><%= user.address %></li>
  <% end %>
</ul>


