<%= link_to "Back to users list", users_path %>

<h1><%= @user.username %></h1>

<ul>
  <li><%= truncate(@user.bio, length: 30, separator: ' ') %> </li>
  <li><%= @user.name %></li>
  <!-- helper method -->
  <li><%= format_gross_age(@user) %></li>
  <li><%= @user.email %></li>
  <li><%= @user.address %></li>
</ul>

